html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h6, h5, h4, h3, h2, h1 {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  line-height: 125%;
  margin: 16px 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 2.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.btn--light, .btn--dark, .subheading--color, .subheading--light, .subheading--regular {
  font-family: "Work Sans", sans-serif;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 125%;
}

.subheading--regular {
  color: #212529;
}

.subheading--light {
  color: #fff;
}

.subheading--color {
  color: #74c69d;
}

.label-text--color {
  font-family: "Work Sans", sans-serif;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.label-text--color {
  color: #74c69d;
}

.hero__description, .regular-text--light75, .regular-text--light50 {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Work Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 125%;
  text-align: start;
  margin: 16px 0;
}

.regular-text--light50 {
  color: rgba(33, 37, 41, 0.4980392157);
}

.regular-text--light75 {
  color: rgba(33, 37, 41, 0.7490196078);
}

.hero__supheading {
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Work Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 125%;
}

hmtl {
  font-size: 16px;
}

.btn--dark, .btn--light {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.btn--dark:focus, .btn--light:focus {
  outline: 1px solid #ec8a3e;
}
.btn--dark:active, .btn--light:active {
  transform: scale(0.97);
}

.btn--light {
  padding: 13px 48px;
  background: #fff;
  color: #212529;
}
.btn--light:hover {
  background: rgba(255, 255, 255, 0.7490196078);
}

.btn--dark {
  padding: 13px 30px;
  background: #212529;
  color: #fff;
}
.btn--dark:hover {
  background: rgba(33, 37, 41, 0.7490196078);
}

.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  padding: 20px 40px;
}
@media (min-width: 992px) {
  .card {
    padding: 20px 25px;
  }
}

.header {
  background: #74c69d;
  padding-top: 17px;
}
.header .row {
  justify-content: space-between;
  align-items: center;
}
.header__link {
  display: flex;
  column-gap: 10px;
}
.header__link-logo {
  width: 45px;
}
.header__link-text {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 125%;
}
@media (min-width: 568px) {
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__btn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 7px;
  width: 40px;
  height: 40px;
  position: relative;
}
.menu__btn-line {
  background: #fff;
  display: inline-block;
  width: 26px;
  height: 3px;
  border-radius: 3px;
  transition: all 0.3s;
}
@media (min-width: 568px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn.active .menu__btn-line:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
.menu__btn.active .menu__btn-line:nth-child(2) {
  opacity: 0;
}
.menu__btn.active .menu__btn-line:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
}

.nav {
  height: 0;
  transition: all 0.3s;
  display: flex;
  justify-content: end;
  width: 100%;
}
@media (min-width: 568px) {
  .nav {
    height: fit-content;
  }
}
.nav__list {
  height: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  opacity: 0;
  transition: all 0.3s;
  align-items: end;
}
.nav__list-link {
  transition: color 0.3s;
}
.nav__list-link:hover {
  color: #212529;
}
@media (min-width: 568px) {
  .nav__list {
    height: fit-content;
    flex-direction: row;
    opacity: 1;
    column-gap: 10px;
  }
}
@media (min-width: 768px) {
  .nav__list {
    column-gap: 30px;
  }
}

.nav.active {
  height: 150px;
  padding: 20px 0;
}
.nav.active .nav__list.active {
  opacity: 1;
}

.footer {
  padding: 32px 0;
  background-color: #74c69d;
}
.footer .row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .footer .row {
    flex-direction: row;
    justify-content: space-between;
  }
}

.socials-list {
  display: flex;
  column-gap: 20px;
}
.socials-list i {
  font-size: 1.5rem;
}

.container {
  width: min(100% - 40px, 1180px);
  margin-inline: auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

section {
  padding: 22px 0;
}
@media (min-width: 768px) {
  section {
    padding: 30px 0;
  }
}

object {
  pointer-events: none;
  width: 100%;
}

.hero {
  background: #74c69d;
  padding: 35px 0 40px;
}
.hero__wrap {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .hero__wrap {
    flex-direction: row;
    column-gap: 120px;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .hero__wrap {
    justify-content: normal;
  }
}
@media (min-width: 768px) {
  .hero__info {
    max-width: 45%;
  }
}
@media (min-width: 992px) {
  .hero__info {
    max-width: 40%;
  }
}
@media (min-width: 1024px) {
  .hero__info {
    max-width: 38%;
  }
}
.hero__supheading {
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hero__description {
  color: rgba(255, 255, 255, 0.7490196078);
  margin-bottom: 25px;
}
.hero__media-img {
  max-width: 100%;
  margin-bottom: 30px;
}

.main-title {
  color: #fff;
  margin: 15px 0;
  transition: all 0.3s;
}

.partners .row {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.partners__list {
  display: flex;
  flex-direction: column;
  margin: 55px 0;
  row-gap: 40px;
}
@media (min-width: 568px) {
  .partners__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 68px;
  }
}

.about .row {
  flex-direction: column;
}
@media (min-width: 768px) {
  .about .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .about__info {
    flex-basis: 40%;
  }
}
@media (min-width: 768px) {
  .about__media {
    flex-basis: 40%;
  }
}
.about:nth-of-type(even) .row {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .about:nth-of-type(even) .row {
    flex-direction: row;
  }
}

.team {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .team {
    padding-bottom: 72px;
  }
}
.team .row {
  flex-direction: column;
  align-items: center;
}
.team__persons {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  row-gap: 35px;
}
@media (min-width: 768px) {
  .team__persons {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 47px;
    justify-content: center;
  }
}
@media (min-width: 1400px) {
  .team__persons {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }
}
.team__persons .card {
  width: 252px;
}
.team__persons .card__img {
  display: block;
  margin-inline: auto;
  max-width: 175px;
}
@media (min-width: 992px) {
  .team__persons .card__title {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
