* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.morning {
  height: 100vh;
  background: rgb(0, 21, 49);
  margin: auto;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  animation: sky 10s linear forwards 9s;
  transition: all 0.3s;
}
.morning .sun {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 100%;
  left: 70%;
  background: rgb(255, 244, 206) url("../imgs/face.png") center no-repeat;
  background-size: 50%;
  box-shadow: 0 0 40px wheat;
  animation: sun 12s linear forwards 12s;
  transition: all 3s;
  z-index: 4;
}
.morning .sun:hover {
  transform: rotate(360deg);
}
.morning:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(35%, -100%);
  background: #fcfcfc;
  box-shadow: 0 0 30px #d3e6ff;
  z-index: 1;
  animation: moon 13s linear forwards;
}

.cover {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../imgs/starsky.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  animation: night 13s linear forwards;
}

.below {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60vh;
  background: url("../imgs/mountains2.png") repeat top;
  background-size: cover;
  z-index: 5;
  animation: mountains 120s linear infinite;
}

.decor__item {
  position: absolute;
  z-index: 6;
  width: 500px;
  bottom: -9%;
}

.plane {
  width: 160px;
  position: absolute;
  top: 30%;
  left: -36%;
  animation: plane 15s linear forwards infinite 16s;
  transform: scaleX(-1);
  transition: all 1s;
  z-index: 7;
}
.plane:hover {
  transform: rotate(180deg) scaleX(1);
}

.cloud-1 {
  position: absolute;
  top: -23%;
  left: 21%;
  width: 230px;
  height: 230px;
  animation: cloud 8s linear forwards 18s;
  z-index: 8;
  transition: all 0.3s;
}
.cloud-1:hover {
  transform: skewX(20deg) scale(1.3);
}

.cloud-2 {
  position: absolute;
  top: -20%;
  left: 43%;
  width: 200px;
  height: 200px;
  animation: cloud-2 8s linear forwards 18s;
  z-index: 5;
  transition: all 0.3s;
}
.cloud-2:hover {
  transform: skewX(-20deg) scale(1.3) translate(-20px, 40px);
}

.cloud-3 {
  position: absolute;
  top: -23%;
  left: 64%;
  width: 230px;
  height: 230px;
  animation: cloud-3 8s linear forwards 18s;
  z-index: 5;
  transition: all 0.3s;
}
.cloud-3:hover {
  transform: skewX(20deg) scale(1.3) translate(65px, -40px);
}

@keyframes cloud {
  70% {
    top: 19%;
    left: 35%;
  }
  80% {
    top: 19%;
    left: 35%;
  }
  100% {
    top: 14%;
    left: 19%;
  }
}
@keyframes cloud-2 {
  70% {
    top: 20%;
    left: 43%;
  }
  80% {
    top: 20%;
    left: 43%;
  }
  100% {
    top: 34%;
    left: 43%;
  }
}
@keyframes cloud-3 {
  70% {
    top: 19%;
    left: 50%;
  }
  80% {
    top: 19%;
    left: 50%;
  }
  100% {
    top: 14%;
    left: 64%;
  }
}
@keyframes sky {
  20% {
    background: rgb(1, 31, 70) 0 0;
  }
  40% {
    background: rgb(3, 52, 116);
  }
  60% {
    background: rgb(11, 81, 172);
  }
  80% {
    background: rgb(34, 111, 212);
  }
  100% {
    background: rgb(75, 153, 255) 100px 10000px;
  }
}
@keyframes moon {
  100% {
    top: 100%;
    left: 0;
  }
}
@keyframes sun {
  0% {
    box-shadow: none;
    background: tomato url("../imgs/face.png") center no-repeat;
  }
  20% {
    background: rgb(255, 109, 83) url("../imgs/face.png");
  }
  30% {
    background: rgb(255, 109, 83) url("../imgs/face.png") center no-repeat;
    box-shadow: 0 0 10px rgb(255, 160, 184);
  }
  50% {
    background: rgb(255, 244, 206) url("../imgs/face.png") center no-repeat;
    box-shadow: 0 0 40px wheat;
  }
  60% {
    background: rgb(255, 244, 206) url("../imgs/face.png") center no-repeat;
    box-shadow: 0 0 40px wheat;
  }
  80% {
    background: rgb(255, 247, 220) url("../imgs/face.png") center no-repeat;
    box-shadow: 0 0 50px wheat, 0 0 60px wheat;
  }
  100% {
    left: 35%;
    top: 15%;
  }
}
@keyframes night {
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes plane {
  to {
    top: 30px;
    left: 100%;
  }
}
@keyframes mountains {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 3223px;
  }
}

/*# sourceMappingURL=main.css.map */
