.container {
    width: min(100% - 40px, 1340px);
    margin-inline: auto;
    display: flex;
    /*flex-direction: column;*/
    column-gap: 20px;
}

table, tr, td {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    margin: 0;

}

table img {
    vertical-align: middle;
}

.mondriaan {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.mondriaan td {
    padding: 10px;
    width: 5px;
    height: 5px;
    border: 3px solid black;
}

.main-color {
    background-color: red;
}

.secondary-color {
    background-color: yellow;
}

.dark-color {
    background-color: black;
}

.lonely-color {
    background-color: blue;
}