@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

.partners {
  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: 55px 0;
    row-gap: 40px;
    @include media-bp-up(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 68px;
    }
  }
}