@use '../../utils/mixins' as *;

.team {
  padding-bottom: 40px;
  @include media-bp-up(md){
    padding-bottom: 72px;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
  &__persons {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    row-gap: 35px;
    @include media-bp-up(md){
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 47px;
      justify-content: center;
    }
    @include media-bp-up(xxl){
      flex-wrap: nowrap;
      width: 100%;
      justify-content: space-between;
    }
    .card {
      width: 252px;
      &__img {
        display: block;
        margin-inline: auto;
        max-width: 175px;
      }
      &__title {
        @include media-bp-up(lg){
          font-size: 1.5rem;
        }
      }
    }
  }
}