@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../typography/text' as *;

.card {
  border-radius: 5px;
  background: $light;
  box-shadow: $box-shadow;
  padding: 20px 40px;
  @include media-bp-up(lg) {
    padding: 20px 25px;
  }
}

.card--service{
  @extend .card;
  flex-basis: 24%;
  padding: 46px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    margin: 0;
  }
  &__price{
    @extend %label-text;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    column-gap: 9px;
  }
  &__price {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 125%;
    color: $dark;
    margin-bottom: 10px;
  }
  &__length {
    text-transform: lowercase;
    margin: 0;
  }
  &__text {
    text-align: center;
    margin-bottom: 52px;
  }
  &__list {
    width: 100%;
    margin-bottom: 45px;
  }
  &__list-item {
    display: flex;
    align-items: center;
    column-gap: 11px;
    margin: 0;
    i {
      font-size: 30px;
    }
  }

}