@use "../../utils/mixins" as *;

.portfolio {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .subheading--regular{
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px 0 30px;
    row-gap: 30px;
    @include media-bp-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    @include media-bp-up(lg) {
      margin: 82px 0 64px;
    }
    @include media-bp-up(xxl) {
      gap: 55px;
    }
  }

  &__item {
    @include media-bp-up(md) {
      flex-basis: calc(50% - 30px)
    }
    @include media-bp-up(xxl) {
      flex-basis: calc(50% - 55px)
    }
  }

  &__img {
    max-width: 100%;
  }
}