@use '../typography/text' as *;
@use '../utils/variables' as *;


.btn--light {
  @extend %subheading;
  padding: 13px 48px;
  border: none;
  border-radius: 5px;
  background: $light;
  color: $dark;
  cursor: pointer;
  transition: background .3s;
  &:hover{
    background: $light75;
  }
  &:focus {
    
  }
  &:active {
    transform: scale(.97);
  }
}

.btn--dark {
  @extend .regular-text;
}