@use '../typography/text' as *;
@use '../utils/variables' as *;

%btnSets {
  @extend %subheading;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s;
  &:focus {
    outline: 1px solid $accent;
  }
  &:active {
    transform: scale(.97);
  }
}

.btn--light {
  @extend %btnSets;
  padding: 13px 48px;
  background: $light;
  color: $dark;
  &:hover{
    background: $light75;
  }

}

.btn--dark {
  @extend %btnSets;
  padding: 13px 30px;
  background: $dark;
  color: $light;
  &:hover{
    background: $dark75;
  }
}