@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

.container {
    width: min(100% - 72px, 1440px);
    margin-inline: auto;
    display: flex;
    padding-top: 0;
}

.section-title {
    color: #fff;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    margin: 0;
}

.section-title:after {
    content: '';
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 30%;
    height: 2px;
}

.suptitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin-top: 0;
    margin-bottom: 4px;
}

.colorized {
    color: #fe0000;
}

.btn {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 28px;
    background-color: #fe0000;
    border: none;
    transition: .3s ease-in;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

.btn--rounded {
    border-radius: 30px;
}

.btn:hover {
    transform: scale(0.99);
    background-color: #b70d0dff;
}

.header__wrap {
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    text-decoration: none;
}

.header__logo-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

.header__input {
    position: relative;
    width: 350px;
}

.header__search {
    border-radius: 70px;
    border: 1px solid rgba(195, 212, 233, 0.40);
    padding: 10px 20px 10px 50px;
    width: 100%;
}

.header__input-icon {
    position: absolute;
    left: 20px;
    top: 8px;
}

.header__search::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.28px;
    padding-left: 64px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    margin: 0;
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.nav-list__link {
    padding: 4px 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: black;
    transition: .3s ease-in;
}

.nav-list__link:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 18px;
    font-style: normal;
}

.hero {
    background: linear-gradient(rgb(12 12 12 / 80%), rgba(0, 0, 0, 0.5)), url('../images/car_r8.png');
    background-size: cover;
    padding: 100px 0;
    border-bottom: 2px solid #fe0000;
}

.hero__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text {
    display: flex;
    flex-direction: column;
    max-width: 45%;
}

.main-title {
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.main-subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.hero__form {
    background: #080808;
    padding: 30px 20px;
    border: 2px solid #ee0000;
    border-radius: 12px;
    color: #fff;
    max-width: 40%;
}

.hero__form-row {
    display: flex;
    justify-content: space-between;
}

.hero__form-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}


.hero__form-group:first-child,
.hero__form-group:nth-child(2) {
    width: 40%;
}

.hero__form-group select,
.hero__form-group input {
    border: 2px solid #ee0000;
    padding: 15px;
    cursor: pointer;
}

.hero__form-group select,
.hero__form-group input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height:  125%;
}

.price-input {
    display: flex;
    justify-content: space-between;
}

.price-field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    max-width: 30%;
}

.hero__form-group--labels {
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

input[type="color"] {
    padding: 0;
}

.about {
    padding: 80px 0;
}

.about__wrap {
    padding: 30px;
    background: #060606;
    display: flex;
    column-gap: 40px;
    border-radius: 24px;
    width: 100%;
    justify-content: space-between;
}

.about__text {
    max-width: 100%;
}

.about__info {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: #fff;
    margin-top: 30px;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: fit-content;
}

.about__card {
    border: 1px solid #fe0000;
    border-radius: 12px;
    width: 320px;
    height: 200px;
    overflow: hidden;
    filter: opacity(0.5);
    transition: .3s ease-in;
    z-index: 0;
}

.about__card:hover {
    filter: none;
    z-index: 0;
}

.about__card:hover img {
    scale: 1.1;
    transition: .3s ease-in;
    z-index: 0;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in;
    z-index: 0;
}

.about__card_name {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    font-size: 30px;
    font-weight: 500;
}

.bestsellers {
    background: linear-gradient(rgb(12 12 12 / 80%), rgba(0, 0, 0, 0.5)), url('../images/porsche.jpg');
    background-size: cover;
    padding: 60px 0;
}

.bestsellers__wrap {
    text-align: center;
    width: 100%;
}

.bestsellers__cards {
    margin-top: 40px;
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.bestsellers .suptitle {
    display: block;
    margin: 0 auto 10px;
    text-transform: capitalize;
}

.bestsellers .section-title {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 30px;
}

.bestsellers .section-title:after {
    display: none;
}

.products__wrap {
    text-align: center;
}
.product-cards {
    display: flex;
}

.product-card {
    width: 350px;
    border-radius: 12px;
    background: #fff;
    transition: .3s ease-in;
    border: 1px solid #000;
}

.product-card:hover {
    box-shadow: 10px 10px 29px 0px rgba(254,0,0,0.72);
}

.product-card__img {
    position: relative;
}

.product-card__photo {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 220px;
    object-fit: cover;
}

.product-card__year {
    font-size: 12px;
    color: #fff;
    background-color: #000;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 12px;
}

.product-card__promo {
    font-size: 12px;
    color: #fff;
    background-color: #289823ff;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 12px;
    text-transform: capitalize;
}

.product-card__info {
    padding: 15px 20px;
    text-align: left;
}

.product-card__name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
}

.product-card__sets {
    display: flex;
    column-gap: 8px;
    margin-top: 10px;
}

.product-card__price {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.product-card__value {
    background: #000;
    color: #fe0000;
    padding: 12px 12px;
    width: 50%;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.product-card__btn {
    background-color: #fe0000;
    border: none;
    padding: 12px 12px;
    width: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

.product-card__btn:hover {
    color: #fe0000;
    background-color: #d2a8a8;
}

.products {
    padding: 80px 0;
}

.products .suptitle {
    color: #000;
    display: block;
    margin: 0 auto 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.products .section-title {
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
}