@forward "header";
@forward "footer";
@use '../utils/mixins' as *;

.container {
  width: min(100% - 40px, 1180px);
  margin-inline: auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

section {
  padding: 22px 0;
  @include media-bp-up(md){
    padding: 30px 0;
  }
}

object {
  pointer-events: none;
  width: 100%;
}