@use "styles-forwarded"

.project
  background-color: styles-forwarded.$darkSectionColor
  color: styles-forwarded.$lightFontColor
  &__item
    display: flex
    gap: 20px
    @media screen and (min-width: 992px)
      justify-content: center
      flex-basis: 15%
  &__description
    @include styles-forwarded.flexSettings($direction: column)
    gap: 10px
  &__number
    font-size: 1.31rem
    @extend %defaultLineHeight

.project-container
  @include styles-forwarded.flexSettings($direction: row)
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding: 50px 0
  gap: 20px
  @media screen and (min-width: 600px)
    padding: 100px 0
  @media screen and (min-width: 992px)
    justify-content: space-between
    padding: 50px 0
