@use "../utils/variables" as *;
@use "../utils/variables" as *;

%subheading {
  font-family: $sansFont;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 125%;
}

.subheading--regular {
  @extend %subheading;
  color: $dark;
}

.subheading--light {
  @extend %subheading;
  color: $light;
}

.subheading--color {
  @extend %subheading;
  color: $layoutColor;
}


%label-text {
  font-family: $sansFont;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.label-text--color {
  @extend %label-text;
  color: $layoutColor;
}

%regular-text {
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: $sansFont;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 125%;
  text-align: start;
  margin: 16px 0;
}

.regular-text--light50 {
  @extend %regular-text;
  color: $dark50;
}

.regular-text--light75 {
  @extend %regular-text;
  color: $dark75;
}

%bold-text {
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: $sansFont;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 125%;
}

