@use "../utils/variables" as *;
%subheading {
  font-family: $sansFont;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 125%;
}

.subheading--light {
  @extend %subheading;
  color: $light;
}

.label {
  font-family: $sansFont;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.regular-text {
  color: #000;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: $sansFont;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 125%;
}

.bold-text {
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: $sansFont;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 125%;
}