@use "../../utils/mixins" as *;

.services {
  padding-bottom: 68px;
  @include media-bp-up(lg) {
    padding-bottom: 135px;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .subheading--regular {
    text-align: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    row-gap: 50px;
    margin-top: 46px;
    @include media-bp-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}