@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

.contact {
  h1 + .subheading--regular {
    text-align: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 21px;
    padding: 40px 0 60px;
    width: 100%;
    @include media-bp-up(md){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  @include media-bp-up(md){
    flex-basis: 40%;
  }
  @include media-bp-up(xl){
    flex-basis: 50%;
  }

  &__map {
    height: 224px;
    @include media-bp-up(md){
      flex-basis: 60%;
      height: 400px;
    }
    @include media-bp-up(md){
      flex-basis: 50%;
      height: 468px;
    }
  }

  &__input {
    border-radius: 5px;
    border: 1px solid $dark;
    background: $inputBg;
    padding: 10px;
  }

  &__submit {
    margin-top: 30px;
  }
}