// fonts
$serifFont: "Crimson Text", serif;
$sansFont: "Work Sans", sans-serif;

// colors
$dark: #212529ff;
$dark75: #212529BF;
$dark50: #2125297F;
$dark25: #2125293F;

$light: #fff;
$light75: #ffffffbf;
$light50: #ffffff80;
$light25: #ffffff40;

$accent: #ec8a3e;

$layoutColor: #74c69d;
$layoutColor75: #74C69DBF;
$layoutColor50: #74C69D7F;
$layoutColor25: #74C69D40;

//breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 568px,
        md: 768px,
        lg: 992px,
        xl: 1024px,
        xxl: 1400px
);

