* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper-slider {
    overflow: hidden;
    width: 100%;
    margin: auto;
    text-align: center;
    border: 4px solid rebeccapurple;
    box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 0.5);
    position: relative;
}

.container {
    padding: 90px;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.slider {
    display: flex;
    position: relative;
    left: 0;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: auto;
}

.slider-item {
    width: 100%;
    height: auto;
    display: block;
}

.next,
.prev,
.wrapper-slider,
.indicator {
    display: inline-block;
    vertical-align: middle;
}


.next,
.prev,
.pause,
.play {
    margin: 10px;
    padding: 5px 20px;
    background-color: #22b914;
    border-radius: 3px;
    border: 1px solid rgb(206, 164, 12);
    cursor: pointer;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ab1111;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: #610150;
}