@use '../../utils/mixins' as *;

.about {
  .row {
    flex-direction: column;
    @include media-bp-up(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__info {
    @include media-bp-up(md) {
      flex-basis: 40%;
    }
  }

  &__media {
    @include media-bp-up(md) {
      flex-basis: 40%;
    }
  }

  .regular-text--light50 {
  }
}

.about:nth-of-type(even) .row {
  flex-direction: column-reverse;
  @include media-bp-up(md) {
    flex-direction: row;
  }
}